<h1>Veuillez confirmer votre email</h1>

<p>Bonjour.</p>
<p>
    Veuillez confirmer votre email en cliquant sur le lien ci-dessous: <br><br>
    <a href="{{ signedUrl }}{{ csrf_token('verify_email_' ~ user.id) }}">Confirmer mon email</a>.
</p>