<h1>Votre email de réinitialisation de mot de passe</h1>

<p>Pour changer votre mot de passe, veuillez cliquer sur le lien ci-dessous.</p>

<a href="{{ url('app_reset_password', {token: token }) }}">
    {{ url('app_reset_password', {token: token }) }}
</a>

<p>A bientôt sur Snowtricks !</p>