/* for all pages*/

body {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    min-height: 100vh;
    position: relative;
    padding-bottom: 50px;
}

nav {
    background-color : #1e3d58;
    padding: 5px;
    padding-right: 30px;
}

nav > ul {
    list-style: none;
    float: right;
    margin-top: 35px;
}

nav > ul > li {
    display: block;
    float: left;
    padding-left: 15px;
}

nav > ul > li > a {
    color: white;
    text-decoration: none;
}

header {
    overflow: hidden;
    height: 800px;
}

div.error {
    background-color: red;
    color: white;
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 5px 5px;
    padding: 10px;
    text-align: center;
}

.flash-container {
    display: flex;
    flex-direction: column;
    position: absolute;
}

.flash {
    margin-top: 50px;
    margin-left: 50px;
    min-width: 200px;
    padding: 20px;
    border-radius: 5px 5px;
    border: black 2px solid;
    background-color: black;
    color: white;
    position: fixed;
    z-index: 1;
}

.flash > p {
    display: inline;
}

.flash-success {
    background-color: #31AB20;
}

.flash-fail {
    background-color: #AB2020;
}

.flash-error {
    background-color: red;
}

.flash-img-close {
    width: 20px;
    cursor: pointer;
    float: right;
}

.main {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 30px;
    padding: 30px;
}

h1, h2, h3 {
    font-family: 'Bebas Neue', cursive;
}

h1 {
    text-align: center;
    font-size: 50px;
    color: white;
    text-shadow: black 0px 0px 5px;
}

form {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

label, input, textarea, select {
    display: inline-block;
    margin-bottom: 10px;
}

label, input, textarea {
    width: 100%;
}

label {
    margin-top: 15px;
}

textarea {
    height: 80px;
    font-family: 'Arial', sans-serif;
}

select {
    min-width: 200px;
    border-radius: 5px 5px;
}

input[type="checkbox"] + label {
    width: auto;
}

.link {
    color: white;
    font-size: 18px;
    text-decoration: none;
}

.button-blue {
    display: block;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    background-color: #057dcd;
    color: white;
    padding: 10px;
    border-radius: 5px 5px;
    margin-top: 30px;
    cursor: pointer;
}

.tiny-button-blue {
    width: 150px;
    border: none;
    background-color: #43b0f1;
    color: white;
    padding: 10px;
    border-radius: 5px 5px;
    cursor: pointer;
}

.margin-y30 {
    margin-bottom: 30px;
    margin-top: 30px;
}

.flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
}

.flexbox-tight {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-between;
    align-items: center;
}

.flexbox-tight > img {
    width: 200px;
}

.buttonlink {
    display: inline;
}

.buttonlink > button {
    border: none;
    background: none;
    cursor: pointer;
}

.icon {
    width: 20px;
}

footer {
    color: white;
    background-color: #1e3d58;
    height: 50px;
    padding: 1%;
    margin-top: 50px;
    position: absolute;
    bottom: 0px;
    width: 98%;
}


/* homepage */

header.homepage {
    background-image: url("/img/background_home.jpg");
    background-size: cover;
    position: relative;
}

header.homepage > h1 {
    position: relative;
    top: 270px;
    margin-bottom: 0px;
    font-size: 70px;
}

header > p {
    position: relative;
    top: 270px;
    margin-top: 10px;
    text-align: center;
    color: white;
    text-shadow: 0 0 3px black;
    font-size: 30px;
}

.arrow {
    margin-left: auto;
    margin-right: 20px;
    width: 50px;
    display: block;
}

.arrow > img {
    width: 100%;
}

#arrow_down {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 50px;
}

#arrow_up {
    margin-top: 50px;
}

section#tricks {
    margin-top: 40px;
}

article {
    background-color: #43b0f1;
    border-radius: 5px 5px;
    margin-bottom: 20px;
}

article > div:nth-child(1) {
    width: 250px;
    height: 150px;
    overflow: hidden;
}

article > div:nth-child(2) {
    padding: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

p.title-trick-connected {
    display: inline-block;
    width: 120px;
}

p.title-trick-not-connected {
    display: inline-block;
    width: 100%;
}

.img_trick {
    width: 100%;
}

/* Trick unique page */

header.trick-page {
    background-repeat: none;
    background-size: cover;
    height: 600px;
    overflow: hidden;
}

.width100 {
    width: 100%;
}

.width70 {
    width: 70%;
    margin-left: 15%;
}

.width50 {
    width: 50%;
    margin-left: 25%;
}

.text-center {
    text-align: center;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.z-index-2 {
    z-index: -2;
}

.main-content {
    width: 70%;
    margin-top: 100px;
    margin-left: 15%;
    border: 2px black solid;
    background-color: white;
    margin-bottom: 150px;
}

.top200 {
    top: 200px;
}

.float-right {
    float: right;
    margin-top: 20px;
    margin-right: 20px;
}

.back-white {
    background-color: white;
}

.border-black {
    border: 2px black solid;
}

.inline {
    display: inline;
}

.p10 {
    padding: 10px;
}

.float-right + h1 {
    clear: both;
}

div.info {
    border-radius: 5px 5px;
    background-color: #43b0f1;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
}

.margin-b30 {
    margin-bottom: 30px;
}

.iframe {
    width: 150px;
    height: 100px;
}

.message {
    width: 100%;
    background-color: #CCC;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 30px;
    min-height: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.message-avatar {
    width: 40px;
    height: 40px;
    border-radius: 8px 8px;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
}

.message-avatar > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.message-user > p {
    margin-left: 15px;
    display: inline;
}

p.message-content {
    margin-bottom: 0px;
}

/* update trick */

.img-update-trick {
    width: 150px;
    margin-right: 10px;
    margin-bottom: 20px;
}

/* authentication */

input[type="checkbox"] {
    width: auto;
}

/* account */

.container-img-account {
    width: 300px;
    height: 300px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px 100px;
    box-shadow: 0 0 5px 3px black;
    margin-bottom: 100px;
}

.img-account {
    width: 100%;
    height: 100%;
    object-fit: cover;
}