{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block body %}
    <div class="width50 margin-y30">
        <h1>Mentions légales - Snowtricks</h1>
        <p>Directrice de Publication : Floryss Rubechi</p>
        <p>Aucune copie, citation ou utilisation n'est acceptée.</p>
        <p>Toute donnée personnelle collectée (par l'envoi d'un message de contact, d'une inscription ou connexion ou d'un commentaire posté) ne sera cédée à un tiers ou revendue.</p>
        <p>Copyright 2021 - Tous droits réservés</p>
    </div>
{% endblock %}