{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <header id="header">
        <img src="/img/background_home.jpg" alt="image de fond">
        <h1>Accueil - SnowTricks</h1>
        <a href="#tricks"><img src="/img/arrow_down.png" alt="descendre"></a>
    </header>
    <section id="tricks">
        {% for trick in tricks %}
            <article>
                <img>
                <div>
                    <p><a href="#">{{ trick.name }}</a></p>
                    <a href="#"><img src="/img/modify.png" alt="Modifier"></a>
                    <a href="#"><img src="/img/delete.png" alt="Supprimer"></a>
                </div>
            </article>
        {% else %}
            <p>Aucun trick publié !</p>
        {% endfor %}
        <a href="#header"><img src="/img/arrow_up.png" alt="monter"></a>
    </section>
{% endblock %}
